{% extends 'base.html.twig' %}

{% block title %}Hello PresentationMetiersExpertiseController!{% endblock %}

{% block body %}

<h1>Welcome !</h1>

<p>
    Demande de {{ name }}.
</p>
<p>mail : {{ from }}</p>

<p>
    service demandé : {{ services }}
</p>

message : {{ message }}.

    
</p>


{% endblock %}
