{% extends 'base.html.twig' %}

{% block title %}Hello EspaceController!{% endblock %}

{% block body %}
<p><a href="{{ path('app_profile_index') }}" >Mon compte</a> </p>

<p><a href="{{ path('app_profile_cv_new') }}" >enregistrer cv</a> </p>
{% endblock %}
