{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>ESPACE RECRUTEUR</h1>

   <a href="{{ path('app_forfait') }}">s'abonner pour accéder à la cvthèque</a> 
   <br>
   <a href="{{ path('app_cvthequ') }}">s'abonner pour accéder à la cvthèque</a> 
   

    
{% endblock %}
