{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>ESPACE RECRUTEUR</h1>

   <a href="{{ path('app_forfait') }}">s'abonner pour accéder à la cvthèque</a> 
   <br>
<<<<<<< HEAD
   <a href="{{ path('app_cvthequ') }}">s'abonner pour accéder à la cvthèque</a> 
=======
   <a href="{{ path('app_recruteur_cvth_index') }}">Bienvenue</a> 
>>>>>>> eb943420b3d76ee893ea6c5246c5e1c82f059131
   

    
{% endblock %}
